GetCertClient/Service References/GetCertService/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bClientCheckIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abtArrayProfile" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="abtArrayErrorLog" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bClientCheckInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bClientCheckInResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bClientCheckOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abtArrayProfile" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bClientCheckOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bClientCheckOutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bLockCertificateRenewal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abtArrayProfile" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bLockCertificateRenewalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bLockCertificateRenewalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bNewCertificateUploaded">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abtArrayProfile" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="abtArrayCertificate" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bNewCertificateUploadedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bNewCertificateUploadedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bOldCertificateRemoved">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abtArrayProfile" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bOldCertificateRemovedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bOldCertificateRemovedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bSetSsoThumbprint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abtArrayProfile" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="asSsoThumbprint" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bSetSsoThumbprintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bSetSsoThumbprintResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bUnlockCertificateRenewal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abtArrayProfile" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bUnlockCertificateRenewalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bUnlockCertificateRenewalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btArrayClientCertificateList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abtArrayProfile" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="aiPreviousHash" type="xs:unsignedLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btArrayClientCertificateListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btArrayClientCertificateListResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btArrayFailSafeExeUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abtArrayProfile" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="asInstalledVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btArrayFailSafeExeUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btArrayFailSafeExeUpdateResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btArrayGetCertExeUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abtArrayProfile" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="asInstalledVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btArrayGetCertExeUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btArrayGetCertExeUpdateResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btArrayDashboardData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abtArrayProfile" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btArrayDashboardDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btArrayDashboardDataResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btArrayDashboardZipUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abtArrayProfile" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="asInstalledVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btArrayDashboardZipUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btArrayDashboardZipUpdateResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btArrayGoPcBackupExeUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abtArrayProfile" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="asInstalledVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btArrayGoPcBackupExeUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btArrayGoPcBackupExeUpdateResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btArrayNewCertificate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abtArrayProfile" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btArrayNewCertificateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btArrayNewCertificateResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btArraySetupCertificate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abtArrayProfile" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="asCurrentThumbprint" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btArraySetupCertificateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btArraySetupCertificateResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sCallAnyMethod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abtArrayProfile" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="abtArrayMethodProfile" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sCallAnyMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sCallAnyMethodResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sCfgUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abtArrayProfile" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="asInstalledVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sCfgUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sCfgUpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sDomainProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abtArrayProfile" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sDomainProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sDomainProfileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sFailSafeCfgUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abtArrayProfile" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="asInstalledVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sFailSafeCfgUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sFailSafeCfgUpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sFailSafeIniUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abtArrayProfile" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="asInstalledVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sFailSafeIniUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sFailSafeIniUpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sGpcIniUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abtArrayProfile" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="asInstalledVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sGpcIniUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sGpcIniUpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sHostsEntryUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abtArrayProfile" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="asInstalledVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sHostsEntryUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sHostsEntryUpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sIniUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abtArrayProfile" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="asInstalledVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sIniUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sIniUpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyCertOverrideCertificateReady">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abtArrayProfile" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="asThumbprint" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyCertOverrideCertificateReadyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyClientCertificateListInstalled">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abtArrayProfile" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="abtArrayCerts" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyClientCertificateListInstalledResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyClientCertificateListFailure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abtArrayProfile" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="abtArrayCerts" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyClientCertificateListFailureResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyFailSafeInternalValidationResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abtArrayProfile" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="abtArrayResults" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyFailSafeInternalValidationResultsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyLoadBalancerCertificateExeFailure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abtArrayProfile" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyLoadBalancerCertificateExeFailureResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyLoadBalancerCertificateExeSuccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abtArrayProfile" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyLoadBalancerCertificateExeSuccessResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyLoadBalancerCertificatePending">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abtArrayProfile" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyLoadBalancerCertificatePendingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyLoadBalancerCertificateReady">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abtArrayProfile" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyLoadBalancerCertificateReadyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifySsoThumbprintReplacementFailure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abtArrayProfile" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifySsoThumbprintReplacementFailureResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifySsoThumbprintReplacementSuccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abtArrayProfile" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifySsoThumbprintReplacementSuccessResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportErrors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abtArrayProfile" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="abtArrayErrorLog" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportErrorsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportEverything">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="asHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abtArrayProfile" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="abtArrayClientLog" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportEverythingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>